@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor0:#4c3f91;
    --cor1:#9145b6;
    --cor2:#b958A5;
    --cor4:#ff5677;
    --cor5:#ffffff;
    --cor6:#0c8ce94d;
    --cor7:rgb(235, 234, 234);
    --cor8:#f1f1f1;
    --black:#130f0d;
    --primary:hsl(32,98%,56%);
    --white: white;
}

/* barra de navegação topo */

header {  
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
}

#header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55px; 
    padding: 0 10px;
    border-bottom: 1px solid var(--cor7);
    background-color: white;
    position: fixed;
    z-index: 1;
}

#header-top > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo-insta {
    height: 1.8rem;
    cursor: pointer;
}

#seta-baixo-header {
    font-size: 1.1rem;
    margin-right: 5px;
    cursor: pointer;
}

#header-top #mais {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 20px;
    width: 130px;
    height: 80px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.144);
}

#mais > span {
    display: flex;
    gap: 20px;
    font-size: 15px;
    cursor: pointer;
}

#seach-container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
    padding: 0 10px;
    border-radius: 7px;
    background-color: rgb(235, 234, 234);
}

.bi-search {
    color: rgb(128, 126, 126);
}

#seach-container > input {
    width: 220px;
    border: none;
    background-color: rgb(235, 234, 234);
}

#seach-container > input:focus {
    outline: none;
}

.fa-heart {cursor: pointer;font-size: 25px;}
.fa-heart:hover{transform: scale(1.1); transition: 1s;}

/* header fundo*/

#header-end {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--cor7);
    background-color: white;
    z-index: 1;
}



#icons-principais {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    height: 100%;
}


.div-icones{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-icones > i {
    font-size: 22px;
}

.div-icones > p {
    display: none;
}



#coracao{display: none;}
#pesquisa{display: none;}
#reels-icon>img{height: 22px;}
#instagram {display: none; font-size: 26px;}
#menu {display: none;}


.icones-header-end {cursor: pointer;}
.icones-header-end:hover{transform: scale(1.1); transition: 1s;}

#icone-foto-perfil {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer
}

/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px; 
}

/* storys */
#storys {
    display: flex;
    align-items: center;
    width: 450px;
    height: 90px;
    margin-top: 5px;
    position: relative;
}

.seta {
    filter: invert(1);
    font-size: 23px;
    cursor: pointer;
}

.seta:nth-child(1){position: absolute; left: 15px; bottom: 43px;display: none;}
.seta:nth-child(2){position: absolute; right: 5px;bottom: 43px;}

#storys > ul {
    display: flex;
    gap: 13px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#storys > ul::-webkit-scrollbar {
    display: none;
}

#storys > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

li > p {font-size: 14px; margin-top: 3px;}

.storys-area {
    width: 60px;
    height: 60px;
    padding: 2px;
    background-image: linear-gradient(45deg,var(--primary),var(--primary),var(--cor4),var(--cor0));
    border-radius: 50%;
}

.fotos {
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: var(--cor5);
    border-radius: 50%;
}

.fotos > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* publicações */

#publicacoes {
    width: 450px;
    height: 100%;
    border-bottom: 1px solid var(--cor7);
}

.publi-card {
    border-bottom: 1px solid var(--cor8);
    margin: 25px 0;
    position: relative;
}

.perfil-publi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfil-publi > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.perfil-publi > div > p {font-size: 1.1rem; cursor: pointer;}

.area-perfil-publi {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 2px;
    background-image: linear-gradient(45deg,var(--primary),var(--primary),var(--cor4),var(--cor0));
    border-radius: 50%;
    cursor: pointer;
}

.foto-fundo {
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: var(--cor5);
    border-radius: 50%;
}

.foto-perfil-publi {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* infos previa do perfil*/

#previa-1 {
    display: none;
    position: absolute;
    top: 45px;
    left: 3px;
}

#previa-2 {
    display: none;
    position: absolute;
    top: 45px;
    left: 3px;
}

.previa-card {
    width: 370px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.315);
}

.perfil-previa {
    padding: 15px;
}

.area-perfil-previa {
    width: 65px;
    height: 65px;
}

.nome {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-left: 5px;
}

.nome > h4 {cursor: pointer;} 

.nome > P {
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin: 8px 0 20px ;
}

.infos > p {
    font-size: 1px;
}

.postagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    font-size: 14px;
}

.seguidores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    font-size: 14px;
}

.seguindo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    font-size: 14px;
}

.publicacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.publicacoes > img {height: 122px; cursor: pointer;}

.interacao {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 65px;
}

.mensagem {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 35px;
    background-color: rgb(44, 176, 253);
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.seguindo-int {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 35px;
    background-color: rgb(226, 225, 225);
    border-radius: 8px;
    cursor: pointer;
}

.seguindo-int > p {font-weight: 550; font-size: 16px;}

/* publi*/

.conteudo-publi {
    width: 100%;
    height: 530px;
    margin-top: 9px;
    border-radius: 3px;
    overflow: hidden;
}

.conteudo-publi > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* interaçaõ publi*/

.icons-interacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.icons-interacao > div {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 100%;
    width: 100%;
}

.fa-comment{font-size: 25px; cursor: pointer;}
.fa-comment:hover{transform: scale(1.1); transition: 1s;}
.bi-send{font-size: 23px; cursor: pointer;}
.bi-send:hover{transform: scale(1.1); transition: 1s;}
.bi-bookmark{font-size: 23px; cursor: pointer;}
.bi-bookmark:hover{transform: scale(1.1); transition: 1s;}

.descricoes-interacoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}

.descricoes-interacoes > span{font-size: 13px;}
.tradu {font-weight: 550;}

.descricoes-interacoes > span >  a {
    color: black;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.descricoes-interacoes > p {font-size: 14px;}
.descricoes-interacoes > p >  a {
    color: black;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.tradu{cursor: pointer;}
.coment{color: rgb(134, 132, 132); cursor: pointer;}

.descricoes-interacoes > input {
    margin-bottom: 35px;
    border: none;
}

.descricoes-interacoes > input:focus {
    outline: none;
}