@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --cor0:#4c3f91;
    --cor1:#9145b6;
    --cor2:#b958A5;
    --cor4:#ff5677;
    --cor5:#ffffff;
    --cor6:#0c8ce94d;
    --cor7:rgb(235, 234, 234);
    --cor8:#f1f1f1;
    --black:#130f0d;
    --primary:hsl(32,98%,56%);
    --white:#f0f0f9;
}

/* barra de navegação topo */

header {  
    display: flex;
    align-items: center;
    width: 100vw;
    height: 55px;
}

#header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55px; 
    padding: 0 10px;
    border-bottom: 1px solid var(--cor7);
    background-color: white;
    position: fixed;
}

#logo-insta {
    height: 1.8rem;
    cursor: pointer;
}

#seta-baixo-header {
    font-size: 1.1rem;
    margin-right: 5px;
    cursor: pointer;
}

#seach-container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
    padding: 0 10px;
    border-radius: 7px;
    background-color: rgb(235, 234, 234);
}

.bi-search {
    color: rgb(128, 126, 126);
}

#seach-container > input {
    width: 200px;
    border: none;
    background-color: rgb(235, 234, 234);
}

#seach-container > input:focus {
    outline: none;
}

.fa-regular {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.fa-regular:hover { transform: scale(1.1); transition: 1s;}

/* header end */

#header-end {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 46px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--cor7);
}

#home {font-size: 1.4rem; cursor: pointer;}
#explorar {font-size: 1.4rem; cursor: pointer;}
#publicar{font-size: 1.2rem; cursor: pointer;}
#mensagens{font-size: 1.4rem; cursor: pointer;}
#reels-icon {width: 1.3rem; cursor: pointer;}
#icone-foto-perfil {width: 1.5rem;}


#home:hover{ transform: scale(1.1); transition: 1s;}
#explorar:hover{ transform: scale(1.1); transition: 1s;}
#publicar:hover{ transform: scale(1.1); transition: 1s;}
#mensagens:hover{ transform: scale(1.1); transition: 1s;}
#reels-icon:hover{transform: scale(1.1); transition: 1s;}
#icone-foto-perfil{transform: scale(1.1); transition: 1s;}

/* main */


main {
  width: 100vw;
  padding: 10px; 
}


/* storys */
#storys {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-top: 5px;
    overflow: hidden;
}

#storys > ul {
    display: flex;
    gap: 13px;
    padding: 0 10px;
    background-color: var(--cor5); 
}

#storys > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li > p {font-size: 0.9rem; margin-top: 3px;}

.storys-area {
    width: 60px;
    height: 60px;
    padding: 2px;
    background-image: linear-gradient(45deg,var(--primary),var(--primary),var(--cor4),var(--cor0));
    border-radius: 50%;
}

.fotos {
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: var(--cor5);
    border-radius: 50%;
}

.fotos > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* publicações */

#publicações {
    width: 440px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

.perfil-publi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfil-publi > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.area-perfil-publi {
    width: 40px;
    height: 40px;
    padding: 2px;
    background-image: linear-gradient(45deg,var(--primary),var(--primary),var(--cor4),var(--cor0));
    border-radius: 50%;
}

.foto-fundo {
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: var(--cor5);
    border-radius: 50%;
}

.foto-perfil-publi {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.conteudo-publi {
    width: 100%;
    height: 530px;
    margin-top: 9px;
    border-radius: 3px;
    overflow: hidden;
}

.conteudo-publi > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bi-chat {
    rotate: 180deg;
}