@charset "UTF-8";

/*Todas as demais mídias*/

/*Typical Device Breakpoints
----------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 922px
Desktops: 922px até 1200px
Grandes telas: acima de 1200px
*/

@media only screen and (min-width: 700px) and (max-width: 922px) {
   
   
    body {
        display: flex;
    }

    /* Header lateral*/

    header {
        width: 70px;
        height: 100vh;
        background-color: white;
        border-right: 1px solid rgba(0, 0, 0, 0.233);
        position: fixed;
    }


    section#navegation-1 {
        display: none;
    }

    section#navegation-2 {
        width: 100%;
        height: 100%;
        position: static;
    }

    menu#nav-infos {
        width: 100%;
        height: 100%;
    }
    
    menu#nav-infos > ul {
        flex-direction: column;
        justify-content: start;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    menu#nav-infos > ul > li {       
        margin: 11px 0px;
        padding: 0px;

    }


    /* icones do menu lateral */


    /* logo do instagram v2 */
    li#logo-insta-2 {
        display: block;
    }

    img.logo-insta-2 {
        width: 1.8em;
        margin: 20px 0px 20px 0px;
    }

    #logo-insta-2 > a > p {
        display: none;
    }


    /* icone home */
    #home > a > p {
        display: none;
    }

    img.home {
        width: 1.5em;
    }


    /* icone pesquisar */
    #pesquisar {
        display: block;
    }

    img.pesquisar {
        width: 1.4em;
    }

    #pesquisar >a >p {
        display: none;
    }
   
    /* icone explorar */
    #explorar {
        display: block;
    }

    img.explorar {
        width: 1.6em;
    }

    #explorar > a > p {
        display: none;
    }


    /* icone reels */
    #reels {
        display: block;
    }

    #reels > a > p {
        display: none;
    }

    img.reels {
        width: 1.3em;
    }


    /* icone criar */
    #criar {
        display: block;
    }

    img.criar {
        width: 1.3em;
    }

    #criar > a > p {
        display: none;
    }
 

    /* icone publicar */
    #publicar {
        display: none;
    }
    
    #publicar > a > p {
        display: none;
    }

    /* icone mensagens */
    #mensagens > a > p {
        display: none;
    }


    /* icone notificações*/
    #notificacoes {
        display: block;
    }

    .notificacoes {
        width: 1.5em;
    }

    #notificacoes > a > p {
        display: none;
    }


    /* icone de perfil*/
    #perfil {
        cursor: pointer;
    }

    #perfil > a > p {
        display: none;
    }



    /* main */

    /* storys */

    section#story {
        display: flex;
        justify-content: center;
        align-items: center;  
        width: 415px;
        height: 110px;
        margin: 28px 0px 15px 0px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 7px;
    }

    div.perfil-story {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4px 0px 0px 16px;
        cursor: pointer;
    }   


    div.perfil-img {
        height: 52px;
        width: 52px;
        border-radius: 50% 50%;
        border: 1px solid black;
    }

    div.perfil-story > p {
        font-size: 0.9em;
    }


    /* publicações */

    /* config geral*/

    section#publicacoes {
        width: 415px;
        height: 618px;
    }
    
    div.publicacoes {
        width: 415px;
        height: 618px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 7px;
        margin-bottom: 25px;
    }

}


@media only screen and (min-width: 922px) and (max-width: 1264px) {

    /* Header lateral*/

    body {
        display: flex;
    }

    /* Header lateral*/

    header {
        width: 70px;
        height: 100vh;
        background-color: white;
        border-right: 1px solid rgba(0, 0, 0, 0.233);
        position: fixed;
    }


    section#navegation-1 {
        display: none;
    }

    section#navegation-2 {
        width: 100%;
        height: 100%;
        position: static;
    }

    menu#nav-infos {
        width: 100%;
        height: 100%;
    }
    
    menu#nav-infos > ul {
        flex-direction: column;
        justify-content: start;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    menu#nav-infos > ul > li {       
        margin: 11px 0px;
        padding: 0px;

    }


    /* icones do menu lateral */


    /* logo do instagram v2 */
    li#logo-insta-2 {
        display: block;
    }

    img.logo-insta-2 {
        width: 1.8em;
        margin: 20px 0px 20px 0px;
    }

    #logo-insta-2 > a > p {
        display: none;
    }


    /* icone home */
    #home > a > p {
        display: none;
    }

    img.home {
        width: 1.5em;
    }


    /* icone pesquisar */
    #pesquisar {
        display: block;
    }

    img.pesquisar {
        width: 1.4em;
    }

    #pesquisar >a >p {
        display: none;
    }
    /* icone explorar */
    #explorar {
        display: block;
    }

    img.explorar {
        width: 1.6em;
    }

    #explorar > a > p {
        display: none;
    }


    /* icone reels */
    #reels {
        display: block;
    }

    #reels > a > p {
        display: none;
    }

    img.reels {
        width: 1.3em;
    }


    /* icone criar */
    #criar {
        display: block;
    }

    img.criar {
        width: 1.3em;
    }

    #criar > a > p {
        display: none;
    }
 

    /* icone publicar */
    #publicar {
        display: none;
    }
    
    #publicar > a > p {
        display: none;
    }

    /* icone mensagens */
    #mensagens > a > p {
        display: none;
    }


    /* icone notificações*/
    #notificacoes {
        display: block;
    }

    .notificacoes {
        width: 1.5em;
    }

    #notificacoes > a > p {
        display: none;
    }


    /* icone de perfil*/
    #perfil {
        border: 1px solid black;
        cursor: pointer;
    }

    #perfil > a > p {
        display: none;
    }



    /* main */

    main {
        display: flex;
        align-items: flex-start ;
        justify-content: center;
        flex-direction: inherit;
    }
    


    /* div dos conteudos de publicação*/

    div#main-content {
        margin-left: 5em;
    }

    /* storys */

    section#story { 
        width: 415px;
        height: 110px;
        margin: 28px 0px 15px 0px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 7px;
    }

    div.perfil-story {  
        justify-content: center;
        align-items: center;
        margin: 4px 0px 0px 16px;
        cursor: pointer;
    }   


    div.perfil-img {
        height: 52px;
        width: 52px;
        border-radius: 50% 50%;
        border: 1px solid black;
    }

    div.perfil-story > p {
        font-size: 0.9em;
    }


    /* publicações */

    /* config geral*/

    section#publicacoes {
        width: 415px;
        height: 618px;
    }
    
    div.publicacoes {
        width: 415px;
        height: 618px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 7px;
        margin-bottom: 25px;
    }

    /* meu perfil + sugestões*/

    div#perfis-sugestoes-main {
       display: block;
       height: auto;
       width: 325px;
       margin: 29px 0px 0px 25px;
    }

    /* meu perfil*/

    section#meu-perfil {
       height: auto;
       width: 100%;
       margin-top: 25px;
    }

    section#meu-perfil > div > ul {
        display: flex;
        align-items: center;
    }
    
    /* icone do perfil*/

    section#meu-perfil > div > ul > li#icone-perfil-main {
       width: 50px;
       height: 50px;
       border-radius: 50% 50%;
       border: 1px solid black;
    }

    /* */

    section#meu-perfil > div > ul > li > a {
        color: black;
    }

    section#meu-perfil > div > ul > li > a > p {
        margin-left: 15px;
    }

    section#meu-perfil > div > ul > li > a > p.mudar {
        margin-left: 150px;
        font-size: 0.9em;
        color: rgb(13, 146, 255);
    }

    /*sugestões para você*/

    section#ver-mais-sugestoes {
       height: auto;
       width: 100%;
    }

    section#ver-mais-sugestoes > div {
        display: flex;
    }

    section#ver-mais-sugestoes > div > p {
        font-size: 0.9em;
        margin-top: 10px;
        color: rgb(48, 36, 36);
    }

    section#ver-mais-sugestoes > div > p.ver-tudo {
        margin-left: 150px;
        color: black;
        cursor: pointer;
    }

    /*sugestões*/

    section#sugestoes-main {
        height: auto;
        width: 100%;
        margin-top: 10px;
    }

    section#sugestoes-main > div > ul {
        display: flex;
        text-align: top;
        justify-content: left;
    }

    section#sugestoes-main > div {
        position: relative;
    }
    /* icone perfl*/

    section#sugestoes-main > div > ul > li.icone-sugestoes-main {
        width: 30px;
        height: 30px;
        margin-top: 8px;

        border-radius: 50% 50%;
        border: 1px solid black;
        cursor: pointer;
    }

    section#sugestoes-main > div > ul > li.nome-sugestoes-main {
        margin: 7px 0px 0px 11px;
        cursor: pointer;

    }

    section#sugestoes-main > div > ul > li.seguido-por {
        position: absolute;
        bottom: 0px;
        left: 43px;
        font-size: 0.9em;
    }

    section#sugestoes-main > div > ul > li.seguir {
        margin: 10px 0 0 180px;
        font-size: 0.9em;
        color: rgb(13, 146, 255);
        cursor: pointer;
    }
    
}

@media only screen and (min-width: 1226px) {

    /* Header lateral*/

    body {
        display: flex;
    }

    /* Header lateral*/

    header {
        width: 225px;
        height: 100vh;
        background-color: white;
        border-right: 1px solid rgba(0, 0, 0, 0.233);
        position: fixed;
    }


    section#navegation-1 {
        display: none;
    }

    section#navegation-2 {
        width: 100%;
        height: 100%;
        position: static;
    }

    /* cnfig geral icones */
    menu#nav-infos {
        width: 100%;
        height: 100%;
    }
    
    menu#nav-infos > ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 100%;
        width: 100%;
        margin-left: 25px;
        padding: 0px;
    }

    menu#nav-infos > ul > li {  
        margin: 14px 0px;
        padding: 0px;

    }

    menu#nav-infos > ul > li > a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    menu#nav-infos > ul > li > a > p {
        margin-left: 20px;
        color: rgb(32, 32, 32);
    }
    /* icones do menu lateral */


    /* logo do instagram v2 */
    li#logo-insta-2 {display: none;}
    #logo-insta-2 > a > p {display: none;}


    /* logo do instagram v3*/

    li#logo-insta-3 {display: block;}
    img.logo-insta-3 {
        width: 6em;
        margin: 20px 0px 15px 0px;
    }
    #logo-insta-3 > a > p {display: none;}

    /* icone home */
    #home > a > p {display: block;}
    img.home {width: 1.5em;}

    /* icone pesquisar */
    #pesquisar {display: block;}
    img.pesquisar { width: 1.4em;}
    #pesquisar >a >p {display: block;}
   
    /* icone explorar */
    #explorar {display: block;}
    img.explorar { width: 1.6em;}
    #explorar > a > p {display: block;}

    /* icone reels */
    #reels {display: block;}
    #reels > a > p {display: block;}
    img.reels {width: 1.3em;}

    /* icone criar */
    #criar {display: block;}
    img.criar {width: 1.3em;}
    #criar > a > p {display: block;}
   
    /* icone publicar */
    #publicar { display: none;}

    /* icone mensagens */
    img.mensagens { display: block;}
    #mensagens > a > p {display: block;}


    /* icone notificações*/
    #notificacoes {display: block;}
    .notificacoes { width: 1.5em;}
    #notificacoes > a > p {display: block;}


    /* icone de perfil*/
   /* perfil-1*/
    #perfil {display: none;}

    /* perfil-2*/
    .img-perfil-2 {
        width: 23px;
        height: 23px;
        border-radius: 50% 50%;
        border: 1px solid black;
    }
    #perfil-2 > a >p {
        display: block;
    }




    /* main */

    main {
        display: flex;
        align-items: flex-start ;
        justify-content: center;
        flex-direction: inherit;
    }
    

    /* div dos conteudos de publicação*/

    div#main-content {
        margin-left: 5em;
    }

    /* storys */

    section#story { 
        width: 415px;
        height: 110px;
        margin: 28px 0px 15px 0px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 7px;
    }

    div.perfil-story {  
        justify-content: center;
        align-items: center;
        margin: 4px 0px 0px 16px;
        cursor: pointer;
    }   


    div.perfil-img {
        height: 52px;
        width: 52px;
        border-radius: 50% 50%;
        border: 1px solid black;
    }

    div.perfil-story > p {
        font-size: 0.9em;
    }


    /* publicações */

    /* config geral*/

    section#publicacoes {
        width: 415px;
        height: 618px;
    }
    
    div.publicacoes {
        width: 415px;
        height: 618px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 7px;
        margin-bottom: 25px;
    }

    /* meu perfil + sugestões*/

    div#perfis-sugestoes-main {
       display: block;
       height: auto;
       width: 325px;
       margin: 29px 0px 0px 25px;
    }

    /* meu perfil*/

    section#meu-perfil {
       height: auto;
       width: 100%;
       margin-top: 25px;
    }

    section#meu-perfil > div > ul {
        display: flex;
        align-items: center;
    }
    
    /* icone do perfil*/

    section#meu-perfil > div > ul > li#icone-perfil-main {
       width: 50px;
       height: 50px;
       border-radius: 50% 50%;
       border: 1px solid black;
    }

    /* */

    section#meu-perfil > div > ul > li > a {
        color: black;
    }

    section#meu-perfil > div > ul > li > a > p {
        margin-left: 15px;
    }

    section#meu-perfil > div > ul > li > a > p.mudar {
        margin-left: 150px;
        font-size: 0.9em;
        color: rgb(13, 146, 255);
    }

    /*sugestões para você*/

    section#ver-mais-sugestoes {
       height: auto;
       width: 100%;
    }

    section#ver-mais-sugestoes > div {
        display: flex;
    }

    section#ver-mais-sugestoes > div > p {
        font-size: 0.9em;
        margin-top: 10px;
        color: rgb(48, 36, 36);
    }

    section#ver-mais-sugestoes > div > p.ver-tudo {
        margin-left: 150px;
        color: black;
        cursor: pointer;
    }

    /*sugestões*/

    section#sugestoes-main {
        height: auto;
        width: 100%;
        margin-top: 10px;
    }

    section#sugestoes-main > div > ul {
        display: flex;
        text-align: top;
        justify-content: left;
    }

    section#sugestoes-main > div {
        position: relative;
    }
    /* icone perfl*/

    section#sugestoes-main > div > ul > li.icone-sugestoes-main {
        width: 30px;
        height: 30px;
        margin-top: 8px;

        border-radius: 50% 50%;
        border: 1px solid black;
        cursor: pointer;
    }

    section#sugestoes-main > div > ul > li.nome-sugestoes-main {
        margin: 7px 0px 0px 11px;
        cursor: pointer;

    }

    section#sugestoes-main > div > ul > li.seguido-por {
        position: absolute;
        bottom: 0px;
        left: 43px;
        font-size: 0.9em;
    }

    section#sugestoes-main > div > ul > li.seguir {
        margin: 10px 0 0 180px;
        font-size: 0.9em;
        color: rgb(13, 146, 255);
        cursor: pointer;
    }
}